@page "/"

<PageTitle>Index</PageTitle>

<h1>Projekt Geometrii Obliczeniowej - Otoczka Wypukła</h1>
<br>
<h4>Autorzy</h4>
<ul>
    <li>Michael Czuba</li>
    <li>Dominik Depta</li>
    <li>Rafał Krawiec</li>
</ul>
