@page "/"

<PageTitle>Index</PageTitle>

<h1>Projekt Geometrii Obliczeniowej - Otoczka Wypukła</h1>
<br>
<h4>Autorzy</h4>
<ul>
    <li>Michael Czuba</li>
    <li>Dominik Depta</li>
    <li>Rafał Krawiec</li>
</ul>

<h4>Zastosowane technologie</h4>
<ul>
    <li>.NET 7</li>
    <li>AspNetCore</li>
    <li>Blazor</li>
    <li>Blazorise</li>
    <li>Plotly</li>
</ul>